.form-group {
    margin-left: 265px; 
    margin-top:20px;
    margin-bottom: 10px;
    width: 200px;
}

.btn-success{
    margin-left: 265px; 
    margin-top:20px;
    margin-bottom: 30px;
    width: 200px;
}

