h1{
    margin-left: 265px; 
    margin-top:50px;
    margin-bottom: 20px;
    color: grey;
}

p{
    margin-left: 265px; 
    width: 400px;
    margin-bottom: 137px;
}

.github-icon{
    width: 80px; 
    margin-top: 60px;
}

.store-picture{
    width: 600px; 
    margin-left: 900px; 
    margin-top: -390px; 
    margin-bottom: 130px;
}