
  <div class="card-body" *ngIf="editMode; else notEditMode">
    <form [formGroup]="storeForm" (submit)="editStore()">
      <div class="form-group">
        <label for="name">Store name:</label>
        <input type="text" class="form-control" placeholder="" formControlName= "name" >
      </div>
      <div class="form-group">
        <label for="price"> Website:</label>
        <input type="text" class="form-control" style="margin-bottom: 30px;"placeholder="" formControlName= "website">
        <input type="hidden" class="form-control" style="margin-bottom: 30px;"placeholder="" formControlName= "id">
      </div>
      <button type="submit" class="btn btn-outline-primary mt-auto">Edit</button>
    </form>
  </div>

  <ng-template #notEditMode>
    <div class="card-body" #notEditMode>
      <form [formGroup]="storeForm" (submit)="createStore()">
        <div class="form-group">
          <label for="name">Store name:</label>
          <input type="text" class="form-control" placeholder="" formControlName= "name" >
        </div>
        <div class="form-group">
          <label for="price"> Website:</label>
          <input type="text" class="form-control" style="margin-bottom: 30px;"placeholder="" formControlName= "website">
        </div>
        <button type="submit" class="btn btn-outline-success mt-auto">Create</button>
      </form>
    </div>
  </ng-template>
  
  <section class="intro" >
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0" >
                  <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 300px;">
                    <table class="table table-striped mb-0">
                      <thead style="background-color: #fd7a7a;">
                        <tr>
                          <th scope="col" class="title-table">Store</th>
                          <th scope="col" class="title-table">Qt. Product</th>
                          <th scope="col" class="title-table">Website</th>
                          <th scope="col"></th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let store of storeList">
                        <tr> 
                          <td>{{store.name}}</td>
                          <td>{{store.products.length}}</td>
                          <td>{{store.website}}</td>
                          <td><button type="button" class="func-btn btn btn-sm btn-primary" (click)="getStoreById(store.id)">Edit</button></td>
                          <td><button type="button" class="func-btn btn btn-sm btn-danger" (click)="delStore(store.id)">Delete</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>