<form [formGroup]="editProductForm" (ngSubmit)="editProduct()" #formDir="ngForm">

    <div class="card-body">
      <div class="form-group">
        <label for="name">Shoes name:</label>
        <input type="text" class="form-control" placeholder="" formControlName = "name" [(ngModel)]="shoesName">
        <div *ngIf="formDir.submitted && formName.errors?.['required']" class="error-message">Name is required</div>
      </div>
      <div class="form-group">
        <label for="price"> Price:</label>
        <input type="number" class="form-control" placeholder="" formControlName = "price" [(ngModel)]="price">
        <div *ngIf="formDir.submitted && formPrice.errors?.['required']" class="error-message">Price is required</div>
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="text" class="form-control" placeholder="" formControlName = "image" [(ngModel)]="image">
        <div *ngIf="formDir.submitted && formImage.errors?.['required']" class="error-message">Image is required</div>
      </div>
      <div class="form-group">
        <label for="category"> Category:</label>
        <select class="form-control" formControlName = "category" >
          <option value="Casual">Casual</option>
          <option value="Sports">Sports</option>
          <option value="Street">Street</option>
        </select>
        <div *ngIf="formDir.submitted && formCategory.errors?.['required']" class="error-message">Category is required</div>
        <label for="store" style="margin-top: 16px;">Brand:</label>
        <select class="form-control" formControlName = "store" >
          <option [ngValue]="store.id" *ngFor = "let store of storeList">{{store.name}}</option>
        </select>
        <div *ngIf="formDir.submitted && formStore.errors?.['required']" class="error-message">Store is required</div>
      </div>
      <div style="margin-left:400px; margin-top:-390px; width: 1100px;">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100" >
                    <!-- Product image-->
                    <img class="card-img-top" src="{{image}}" *ngIf = "image; else notImage"/>
  
                    <ng-template #notImage>
  
                      <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"/>
                    </ng-template>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder" *ngIf="shoesName; else notShoesName">{{shoesName}}</h5>
                            <ng-template #notShoesName>
                              <h5 class="fw-bolder">Shoes Name</h5>
                            </ng-template>
                            <!-- Product price-->
                            <p *ngIf="price; else notPrice">R$ {{price}}</p>
                            <ng-template #notPrice>
                              R$ 0.00
                            </ng-template>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                           
                            <button type="submit" class="btn btn-outline-success mt-auto" *ngIf="editProductForm.valid; else notValid">Confirm</button>
                            <ng-template #notValid>
                              <button type="submit" class="btn btn-outline-dark mt-auto">Confirm</button>
                            </ng-template>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  
  </form>